.screenContainer {
  position: relative;
  display:block;
  width: 100%;

  .screen {
    position:absolute;
    z-index: 1;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}