body,
html {
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}
/* for image support in react-draft-wysiwyg */
.rdw-image-imagewrapper img {
  max-width: 100%;
}

.public-DraftStyleDefault-block *,
p {
  font-family: 'Montserrat', 'Open Sans', sans-serif;
}
